<%- include ('partials/header.ejs') %>
    <%- include ('partials/navbar.ejs') %>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Alterar dos dados do funcionário</h1>
                </div>
                <div class="card-body">
                    <!-- Formulário de edição -->
                     <form action="/funcionarios/update/<%= funcionario.id %>" method="POST">
                        <div class="mb-3">
                            <input type="hidden" name="id" value="<%= funcionario.id %>">
                            <label>Nome do funcionario:</label>
                            <input type="text" name="nome" placeholder="Insira o nome do funcionario" class="form-control"
                                value="<%= funcionario.nome %>" required>
                        </div>

                        <div class="mb-3">
                            <label>CPF do funcionario:</label>
                            <input type="text" name="cpf" placeholder="Insira o cpf do funcionario" class="form-control"
                                value="<%= funcionario.cpf %>" required>
                        </div>

                        <div class="mb-3">
                            <label>Endereço do funcionario:</label>
                            <input type="text" name="endereco" placeholder="Insira o endereço do funcionario"
                                class="form-control" value="<%= funcionario.endereco %>" required>
                        </div>

                        <div class="mb-3">
                            <input
                                onclick="return confirm('Confirma as alterações realizadas para o funcionario <%= funcionario.nome %>?')"
                                type="submit" class="btn btn-warning" value="Alterar">
                            <a href="/funcionarios">
                                <input type="button" class="btn btn-danger" value="Cancelar">
                            </a>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <%- include ('partials/footer.ejs') %>